<!--Index-->
<h3>Index</h3>
<ul>
  <li *ngFor="let fruit of fruits; let i = index">{{ i + 1 }}. {{ fruit }}</li>
</ul>

<!--First and Last Fruits-->
<h3>First and Last Fruits</h3>
<ul>
  <li *ngFor="let fruit of fruits; let isFirst = first; let isLast = last">
    <strong *ngIf="isFirst">First</strong>
    <strong *ngIf="isLast">Last</strong> Fruit:
    {{ fruit }}
  </li>
</ul>

<!--Odd and Even Fruits-->
<h3>Odd and Even Fruits</h3>
<ul>
  <li
    *ngFor="let fruit of fruits; let isEven = even; let isOdd = odd"
    [ngClass]="{ 'even-item': isEven, 'odd-item': isOdd }"
  >
    {{ fruit }}
  </li>
</ul>
